fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

input,
textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid $seaGreen;
    font-family: $bodyFont;
    color: $black;
    padding: 10px 20px;
    margin-bottom: 50px;

    &::placeholder {
        opacity: 1;
    }
}

textarea {
    border: 2px solid $seaGreen;
    height: 100%;
}

input[type='text'],
input[type='email'] {
    width: 40%
}

form {
    display: flex;
    flex-direction: column;
}
