//index header
header {
    background-size: cover;
    height: 80vh;
    position: relative;

    .wrapper:nth-child(2) {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        z-index: 10;
    }
}

.indexHeader {
    background-image: url(../captured-final-assets/header-image.jpg);
    background-position: left;
}

.headerImg {
    height: 640px;
    width: 692px;
    background-image: url(../captured-final-assets/header-box-image.jpg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: -20%;
    border: 50px solid $canary;
    border-right: none;  
}

h1 {
    text-shadow: 2px 2px #F3F3F3;
}

//blog header
.blogHeader {
    background-image: url(../captured-final-assets/blog-header.jpg);
    background-position: center;
}

//contact header
.contactHeader {
    background-image: url(../captured-final-assets/contact-header.jpg);
    background-position: center;
    height: 50vh;

    h2 {
        text-align: center;
    }

    .wrapper:nth-child(2) {
        position: absolute;
        bottom: 50%;
    }
}

//blog header
.blogHeader .wrapper:nth-child(2) {
    text-align: center;
    bottom: 50%;
}

.blogHeader h2 {
    z-index: 10;
}

