//adjusting for blog post header

@media (min-width: 1990px) {
    .blogTextContainer {
        padding-top: 450px;
    }

    .leftMainContent {
        width: 61%;
    }
}

@media (min-width: 2100px) {
    .blogTextContainer {
        padding-top: 520px;
    }

    .leftMainContent {
        width: 61%;
    }
}

@media (min-width: 2400px) {
    .blogTextContainer {
        padding-top: 600px;
    }

    .leftMainContent {
        width: 62%;
    }
}

//lower screen breakpoints
@media (max-width: 1780px) {
    //BLOG ADJUSTMENTS
    .blogTextContainer {
        padding-top: 350px;
    }
}

@media (max-width: 1560px) {

    //BLOG ADJUSTMENTS
    .blogImgContainer {
        top: -12%;
    }

    .leftMainContent {
        width: 59%;
    }
}

@media (max-width: 1400px) {
    //BLOG ADJUSTMENTS
    .blogTextContainer {
        padding-top: 280px;
    }

    .blogEntry {
        padding-right: 40px;
    }

    //CONTACT PAGE
    .contactHeader {
        height: 40vh;

        .headerText {
            bottom: 35%;
        }
    }

    //contact pg: email form
    .emailMe .wrapper {
        flex-direction: column;
        align-items: center;
        height: inherit;
        padding-top: 50px;
    }

    .emailForm {
        box-shadow: none;
        border: 10px solid $seaGreen;
    }

    //contact pg: address
    .address {
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
}

@media (max-width: 1200px) {
    //BLOG PAGE: header
    .blogHeader {
        height: 100vh;
    }

    //BLOG PAGE ADJUSTMENTS
    .leftMainContent {
        width: 100%;
    }

    .blog {
        border: none;
        padding-left: 0;

        .blogEntry {
            padding-right: none;
        }
    }

    .blogMainContent {
        padding: 50px 0;

        .wrapper {
            flex-direction: column;
        }
    }

    .blogImgContainer {
        box-shadow: none;
        border: 10px solid $canary;
        position: static;
        width: 90%;
        margin: 0 auto;
    }

    .blogTextContainer {
        padding-top: 20px;
    }

    //BLOG PAGE side bar
    .sideBar {
        padding: 30px;
        margin-top: 0;
        height: auto;
        width: auto;
        border: 2px solid $black;

        h5 {
            margin: 20px 0;
        }

        &::before {
            width: 100%;
            position: static;
            margin-top: 0;
        }

        .sidebarText {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1000px){
    //INDEX PAGE:header
    header .wrapper:nth-child(2) {
        bottom: 5%;
    }

    .headerImg {
        height: 500px;
        width: 50%;
        background-position: bottom;
        border: 30px solid $canary;
        border-right: none;
    }

    //INDEX PAGE: about
    .about {
        padding: 200px 0 100px 0;
    }

    //INDEX PAGE:main section articles
    .articlePost {
        flex-direction: column;

        .articlePostItem1,
        .articlePostItem2 {
            width: 100%;
            display: flex;
            flex-direction: row;

            
        }

        .articlePostItem2 {
            flex-direction: row-reverse;
        }
    }

    .articlePostItem1 .articleImgContainer,
    .articlePostItem2 .articleImgContainer {
        position: static;
        width: 50%;
        display: flex;
        align-items: center;

        img {
            box-shadow: none;
            width: 100%;
            border-bottom: 10px solid $canary;
        }
    }

    .articleTextContainer {
        width: 50%;
    }

    //INDEX PAGE:icon info section
    .info {
        padding: 100px 0;

        .wrapper {
            justify-content: center;
        }

        .infoItem {
            width: 65%;
        }
    }

    //INDEX PAGE: featured section
    .feature {
        .wrapper {
            align-items: center;
            flex-direction: column;
        }

        .featureImgContainer {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;

            img {
                box-shadow: none;
                border: 20px solid $canary;
            }
        }

        .featureTextContainer {
            width: 80%;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    }

    .featureText {
        h3,
        p {
            text-align: center;
        }
    }

}

@media (max-width: 800px){
    .scrollDown {
        display: block;
    }

    //navbar
    .navBar {
        display: none;
    }

    .mobileNav {
        display: block;
    }
    
    //index header
    header .headerText {
        bottom: 5%;
    }

    .headerImg {
        display: none;
    }

    h1 {
        font-size: 15vw;
    }

    .indexHeader {
        height: 100vh;
    }

    //index page: sections
    p {
        line-height: 3rem;
        text-align: center;
    }

    //index page: about
    .about {
        padding: 100px 0;
    }

    //index page: article info section
    .articlePost {
        padding-top: 50px;
    }

    .articlePost .articlePostItem1,
    .articlePost .articlePostItem2 {
        flex-direction: column;
        align-items: center;

        .articleImgContainer img {
            width: 100%;
        }
    }

    .articlePostItem1 .wrapper {
        align-items: center;
    }

    .articlePost .articlePostItem2 {
        flex-direction: column;

        div:nth-child(2) > div:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .articleTextContainer {
        width: 100%;
    }

    //index page: info section
    .info {
        padding: 200px 0 100px 0;

        h4 {
            padding-left: 0;
            display: flex;
            justify-content: center;

            &::before {
                font-size: 3.5rem;
                width: 75px;
                height: 75px;
                bottom: 100%;
                left: revert;
            }
        }

        p {
            padding-left: 0;
        }

        .infoItem {
            margin-bottom: 100px;
        }
    }

    article.infoItem:nth-child(4) {
        margin: 0;
    }

    //index page: gallery section
    .gallery {
        padding: 50px 0;
    }

    .gallery ul {
        flex-direction: column;
        justify-content: center;

        li {
            width: 100%;
            margin: 0 0 30px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    //blog page
    .leftMainContent {
        margin-bottom: 40px;
    }

    .blogMainContent p {
        text-align: left;
    }

    .blogTextContainer h3,
    time.postDate:nth-child(2) {
        text-align: center;
        display: block;
    }

    .blogEntry {
        margin-bottom: 40px;
    }

    .comments, 
    .blogEntry {
        padding: 0;
    }

    //blog page: forms
    fieldset {
        flex-direction: column;
    }

    input[type='text'],
    input[type='email'] {
        width: inherit;
        border: 2px solid $seaGreen;
        margin-bottom: 40px;
    }

    textarea {
        margin-bottom: 40px;
    }

    .commentForm {
        padding: 0;
    }

    //contact page
    .contactHeader .headerText {
        bottom: 30%;
    }

    .emailForm {
        width: 70%;
        padding: 50px;
    }
}

@media (max-width: 500px){
    //typography
    h2, h3, h4 {
        text-align: center;
    }

    h2 {
        font-size: 6rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    h4 {
        font-size: 3rem;
    }

    //index pg: info section
    .info {
        padding: 150px 0 50px 0;

        .infoItem {
            width: 100%;
        }
    }

    //index pg: banner
    .banner {
        height: 300px;
    }

    //index pg: feature profile
    .feature .featureTextContainer {
        width: 100%;
    }

    //index pg: about and feature section
    .about,
    .feature {
        padding: 50px 0;
    }

    //about pg
    .emailForm {
        width: 100%;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    input[type='text'],
    input[type='email'],
    textarea {
        margin-bottom: 20px;
    }
}



