//skip link
.skip-link {
    position: absolute;
    left: -1000px;
    color: $black;
    background-color: $white;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

// navbar
.navBar {
    font-family: $headingFont;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: 1px;
    padding: 10px 0;
    z-index: 10;

    .desktopNav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        li {
            padding: 5px;
            margin: 0 30px;
            border-bottom: 3px solid rgba($color: $seaGreen, $alpha: 0);
            transition: 0.7s;

            &:hover,
            &:focus {
                border-bottom: 3px solid rgba($color: $seaGreen, $alpha: 1);
            }
        }
        
        li:last-child {
            margin-right: 0;
        }
    }
}

//mobile nav
.mobileNav {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;

    i {
        font-size: 5rem;
        text-shadow: 1px 1px $canary;
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;
    }
}

.mobileMenuBtn {
    cursor: pointer;
}

.slideOutNav {
   background-color: $black;
   position: fixed;
   top: -500px;
   left: 0;
   width: 100vw;
   height: 100vh;
   max-height: 400px;
   padding: 50px 0;
   z-index: 10;
   transition: 0.7s;

   .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   }

   a,
   .menuClose {
    font-family: $headingFont;
    text-transform: uppercase;
    color: $white;
    font-size: 4rem;
    transition: 0.7s;

    &:hover,
    &:focus {
        color: $seaGreen;
    }
   }

   .menuClose {
        color: $seaGreen;
        border: 2px solid $seaGreen;
        padding: 5px 15px;

        &:hover,
        &:focus {
            color: $white;
            border: 2px solid $white;
        }
   }

   li {
    text-align: center;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
   }
}

