// about secction
.about {
    background-color: $ice;
    padding: 300px 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//article section
.articlePost {
    display: flex;
    justify-content: space-between;

    .articlePostItem1,
    .articlePostItem2 {
        width: 48%;
        display: flex;
        flex-direction: column;

        .articleImgContainer img{
            width: 90%;
        }
        
        .articleTextContainer {
            padding: 50px 0;
        }
    }

    .articlePostItem2 {
        flex-direction: column-reverse;
    }
}


.articlePostItem1 {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .articleImgContainer {
        position: relative;
        top: -100px;
        z-index: 10;

        img {
            box-shadow: 40px 40px $canary;
        }
    }

    .articleTextContainer {
        margin-left: auto;
    }
}

.articlePostItem2 {
    .articleImgContainer {
        position: relative;
        bottom: -100px;
        display: flex;
        justify-content: flex-end;
        z-index: 10;

        img {
            box-shadow: -40px 40px $canary;
        }
    }

    .articleTextContainer {
        margin-right: auto;
    }
}

//info section
.info {
    background-color: $ice;
    padding: 200px 0;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .infoItem {
        width: 45%;
    }

    h4 {
        position: relative;
        padding-left: 50px;

        &::before {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-size: 2.5rem;
            width: 40px;
            height: 40px;
            background-color: $seaGreen;
            border-radius: 50%;
            font-family: 'Font Awesome 6 Free';
        }
    }  

    p {
        padding-left: 50px;
    }
}


.item1::before {
    content: '\f030';
}

.item2::before {
    content: '\f0c0';
}

.item3::before {
    content: '\f15b';
}

.item4::before {
    content: '\f095';
}

//banner section
.banner {
    background-image: url(../captured-final-assets/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
}

//profile feature section
.feature {
    background-color: $ice;
    padding: 100px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .featureImgContainer {
        width: 30%;
        margin-right: 5%;
        
        img {
            box-shadow: 40px 40px $canary;
        }
    }

    .featureTextContainer {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

//gallery section
.gallery {
    padding: 100px 0;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        flex-basis: calc(33% - 20px);
        margin: 0 10px;
    }

    li:first-child {
        margin-left: 0;
    }

    li:last-child {
        margin-right: 0;
    }
}

