html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #2c2c2c;
}

p {
  line-height: 3.2rem;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 13.8rem;
  text-align: center;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3, h4, h5 {
  font-size: 4.2rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.5rem;
}

.emailAddress {
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

body {
  background-color: #fafafa;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
}

button {
  border: none;
}

.linkBtn,
button[type=submit] {
  font-family: "Playfair Display", serif;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #4ceea7;
  border: 2px solid #4ceea7;
  padding: 5px 15px;
  display: inline-block;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
.linkBtn:hover, .linkBtn:focus,
button[type=submit]:hover,
button[type=submit]:focus {
  background-color: transparent;
  border: 2px solid #2c2c2c;
}

.skip-link {
  position: absolute;
  left: -1000px;
  color: #2c2c2c;
  background-color: #fafafa;
  z-index: 10;
}
.skip-link:focus {
  left: 0;
}

.navBar {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  padding: 10px 0;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navBar li {
  padding: 5px;
  margin: 0 30px;
  border-bottom: 3px solid rgba(76, 238, 167, 0);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.navBar li:hover, .navBar li:focus {
  border-bottom: 3px solid #4ceea7;
}
.navBar li:last-child {
  margin-right: 0;
}

header {
  background-size: cover;
  height: 80vh;
  position: relative;
}
header .wrapper:nth-child(2) {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: 10;
}

.indexHeader {
  background-image: url(../captured-final-assets/header-image.jpg);
  background-position: left;
}

.headerImg {
  height: 640px;
  width: 692px;
  background-image: url(../captured-final-assets/header-box-image.jpg);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -20%;
  border: 50px solid #fdfa69;
  border-right: none;
}

h1 {
  text-shadow: 2px 2px #F3F3F3;
}

.blogHeader {
  background-image: url(../captured-final-assets/blog-header.jpg);
  background-position: center;
}

.contactHeader {
  background-image: url(../captured-final-assets/contact-header.jpg);
  background-position: center;
  height: 50vh;
}
.contactHeader h2 {
  text-align: center;
}
.contactHeader .wrapper:nth-child(2) {
  position: absolute;
  bottom: 50%;
}

.about {
  background-color: #effdf3;
  padding: 300px 0;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articlePost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articlePost .articlePostItem1,
.articlePost .articlePostItem2 {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.articlePost .articlePostItem1 .articleImgContainer img,
.articlePost .articlePostItem2 .articleImgContainer img {
  width: 90%;
}
.articlePost .articlePostItem1 .articleTextContainer,
.articlePost .articlePostItem2 .articleTextContainer {
  padding: 50px 0;
}
.articlePost .articlePostItem2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.articlePostItem1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.articlePostItem1 .articleImgContainer {
  position: relative;
  top: -100px;
  z-index: 10;
}
.articlePostItem1 .articleImgContainer img {
  -webkit-box-shadow: 40px 40px #fdfa69;
          box-shadow: 40px 40px #fdfa69;
}
.articlePostItem1 .articleTextContainer {
  margin-left: auto;
}

.articlePostItem2 .articleImgContainer {
  position: relative;
  bottom: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}
.articlePostItem2 .articleImgContainer img {
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
}
.articlePostItem2 .articleTextContainer {
  margin-right: auto;
}

.info {
  background-color: #effdf3;
  padding: 200px 0;
}
.info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info .infoItem {
  width: 45%;
}
.info h4 {
  position: relative;
  padding-left: 50px;
}
.info h4::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 2.5rem;
  width: 40px;
  height: 40px;
  background-color: #4ceea7;
  border-radius: 50%;
  font-family: "Font Awesome 6 Free";
}
.info p {
  padding-left: 50px;
}

.item1::before {
  content: "\f030";
}

.item2::before {
  content: "\f0c0";
}

.item3::before {
  content: "\f15b";
}

.item4::before {
  content: "\f095";
}

.banner {
  background-image: url(../captured-final-assets/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
}

.feature {
  background-color: #effdf3;
  padding: 100px 0;
}
.feature .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature .featureImgContainer {
  width: 30%;
  margin-right: 5%;
}
.feature .featureImgContainer img {
  -webkit-box-shadow: 40px 40px #fdfa69;
          box-shadow: 40px 40px #fdfa69;
}
.feature .featureTextContainer {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery {
  padding: 100px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery li {
  -ms-flex-preferred-size: calc(33% - 20px);
      flex-basis: calc(33% - 20px);
  margin: 0 10px;
}
.gallery li:first-child {
  margin-left: 0;
}
.gallery li:last-child {
  margin-right: 0;
}

.address {
  background-color: #effdf3;
}
.address .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(50vh - 42px);
}

.emailMe {
  background-color: #effdf3;
}

.emailForm {
  background-color: #fafafa;
}

address {
  font-style: normal;
}
address p {
  margin: 0;
}
address p:first-child {
  margin: 20px 0;
}

i {
  font-size: 2.6rem;
}

.sidebarNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.sidebarNav ul li {
  margin-right: 20px;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}
.sidebarNav ul li:hover {
  color: #4ceea7;
}

footer {
  background-color: #2c2c2c;
  color: #fafafa;
  padding: 5px 0;
}
footer p {
  margin: 0;
  text-align: center;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input,
textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid #4ceea7;
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  padding: 10px 20px;
  margin-bottom: 50px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
}

textarea {
  border: 2px solid #4ceea7;
}

input[type=name],
input[type=email] {
  width: 40%;
}

.emailMe .wrapper {
  position: relative;
}

.emailForm {
  width: 55%;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
  position: absolute;
  top: -200px;
  right: 0;
  z-index: 10;
}