@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #2c2c2c;
}

p {
  line-height: 3.2rem;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 13.8rem;
  text-shadow: 2px 2px #F3F3F3;
  text-align: center;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3, h4, h5 {
  font-size: 4.2rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.5rem;
}

.emailAddress {
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

em {
  font-weight: bold;
}

body {
  background-color: #fafafa;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}
a:hover, a:focus {
  color: #4ceea7;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.linkBtn,
button[type=submit] {
  font-family: "Playfair Display", serif;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #4ceea7;
  border: 2px solid #4ceea7;
  padding: 5px 15px;
  display: inline-block;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
.linkBtn:hover, .linkBtn:focus,
button[type=submit]:hover,
button[type=submit]:focus {
  background-color: transparent;
}

@-webkit-keyframes iconSlideDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes iconSlideDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}
.skip-link {
  position: absolute;
  left: -1000px;
  color: #2c2c2c;
  background-color: #fafafa;
  z-index: 10;
}
.skip-link:focus {
  left: 0;
}

.navBar {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1px;
  padding: 10px 0;
  z-index: 10;
}
.navBar .desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navBar .desktopNav li {
  padding: 5px;
  margin: 0 30px;
  border-bottom: 3px solid rgba(76, 238, 167, 0);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.navBar .desktopNav li:hover, .navBar .desktopNav li:focus {
  border-bottom: 3px solid #4ceea7;
}
.navBar .desktopNav li:last-child {
  margin-right: 0;
}

.mobileNav {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.mobileNav i {
  font-size: 5rem;
  text-shadow: 1px 1px #fdfa69;
}
.mobileNav input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

.mobileMenuBtn {
  cursor: pointer;
}

.slideOutNav {
  background-color: #2c2c2c;
  position: fixed;
  top: -500px;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 400px;
  padding: 50px 0;
  z-index: 10;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.slideOutNav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.slideOutNav a,
.slideOutNav .menuClose {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #fafafa;
  font-size: 4rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.slideOutNav a:hover, .slideOutNav a:focus,
.slideOutNav .menuClose:hover,
.slideOutNav .menuClose:focus {
  color: #4ceea7;
}
.slideOutNav .menuClose {
  color: #4ceea7;
  border: 2px solid #4ceea7;
  padding: 5px 15px;
}
.slideOutNav .menuClose:hover, .slideOutNav .menuClose:focus {
  color: #fafafa;
  border: 2px solid #fafafa;
}
.slideOutNav li {
  text-align: center;
  margin-bottom: 20px;
}
.slideOutNav li:last-child {
  margin-bottom: 0;
}

header {
  background-size: cover;
  height: 80vh;
  position: relative;
}
header .headerText {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: 10;
}

.indexHeader {
  background-image: url(../captured-final-assets/header-image.jpg);
  background-position: left;
}

.headerImg {
  height: 80%;
  width: 40%;
  background-image: url(../captured-final-assets/header-box-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -20%;
  border: 50px solid #fdfa69;
  border-right: none;
}

.scrollDown {
  display: none;
  font-size: 5rem;
  text-shadow: 2px 2px #F3F3F3;
  -webkit-animation: iconSlideDown 1s ease-out infinite both;
          animation: iconSlideDown 1s ease-out infinite both;
}

.blogHeader,
.contactHeader {
  background-position: center;
}
.blogHeader .headerText,
.contactHeader .headerText {
  bottom: 50%;
  z-index: 10;
}

.blogHeader {
  background-image: url(../captured-final-assets/blog-header.jpg);
}

.contactHeader {
  background-image: url(../captured-final-assets/contact-header.jpg);
  height: 50vh;
}

.about {
  background-color: #effdf3;
  padding: 300px 0;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articlePost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articlePost .articlePostItem1,
.articlePost .articlePostItem2 {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.articlePost .articlePostItem1 .articleTextContainer,
.articlePost .articlePostItem2 .articleTextContainer {
  padding: 50px 0;
}
.articlePost .articlePostItem2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.articlePostItem1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.articlePostItem1 .articleImgContainer {
  position: relative;
  top: -100px;
  z-index: 10;
}
.articlePostItem1 .articleImgContainer img {
  -webkit-box-shadow: 40px 40px #fdfa69;
          box-shadow: 40px 40px #fdfa69;
}
.articlePostItem1 .articleTextContainer {
  margin-left: auto;
}

.articlePostItem2 .articleImgContainer {
  position: relative;
  bottom: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}
.articlePostItem2 .articleImgContainer img {
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
}
.articlePostItem2 .articleTextContainer {
  margin-right: auto;
}

.info {
  background-color: #effdf3;
  padding: 200px 0;
}
.info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info .infoItem {
  width: 45%;
}
.info .infoItem i {
  font-size: 2.5rem;
  background-color: #4ceea7;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}
.info .infoItem .infoItemTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info p {
  padding-left: 50px;
}

.banner {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.banner li {
  width: 100%;
  height: 700px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner button {
  position: absolute;
  top: 50%;
  font-size: 6rem;
  font-weight: bold;
  color: #4ceea7;
  text-shadow: 2px 2px #2c2c2c;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  z-index: 10;
}
.banner button:hover {
  color: #fdfa69;
}

.btnNext {
  right: 2%;
}

.btnPrev {
  left: 2%;
}

.feature {
  background-color: #effdf3;
  padding: 100px 0;
}
.feature .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature .featureImgContainer {
  width: 30%;
  margin-right: 5%;
}
.feature .featureImgContainer img {
  -webkit-box-shadow: 40px 40px #fdfa69;
          box-shadow: 40px 40px #fdfa69;
}
.feature .featureTextContainer {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery {
  padding: 100px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery li {
  -ms-flex-preferred-size: calc(33% - 20px);
      flex-basis: calc(33% - 20px);
  margin: 0 10px;
}
.gallery li:first-child {
  margin-left: 0;
}
.gallery li:last-child {
  margin-right: 0;
}
.gallery img {
  width: 100%;
}

.blogMainContent {
  padding-bottom: 50px;
  background-color: #effdf3;
  position: relative;
}
.blogMainContent .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leftMainContent {
  width: 60%;
}

.blog {
  border-bottom: 10px solid #fdfa69;
  border-left: 10px solid #fdfa69;
  padding-left: 40px;
}

.blogImgContainer {
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
  position: absolute;
  right: 0;
  top: -15%;
  width: 55%;
}
.blogImgContainer img {
  width: 100%;
}

.blogTextContainer {
  padding-top: 420px;
}
.blogTextContainer h3 {
  padding: 20px 0;
  margin-bottom: 20px;
}

.comments {
  padding: 40px 0 40px 40px;
}

.commentForm {
  padding: 0 40px 40px;
}

.comments h4 {
  margin-bottom: 40px;
}

.commentor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}

.commentorImgContainer {
  width: 10%;
}

.commentorTextContainer {
  width: 85%;
}
.commentorTextContainer p {
  margin: 0;
}

.postDate {
  display: inline-block;
  margin-bottom: 10px;
}

.sideBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 350px;
  min-height: 750px;
  margin-top: 130px;
  padding: 50px 20px 30px;
  background-color: #fafafa;
}
.sideBar::before {
  content: "";
  width: 33vw;
  height: 450px;
  background-image: url(../captured-final-assets/side-blog-image.jpg);
  background-size: cover;
  background-position: bottom;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 100px;
}
.sideBar h5 {
  margin-bottom: 20px;
}
.sideBar p {
  margin: 0;
}
.sideBar .sidebarText {
  margin-bottom: 50px;
}
.sideBar .sidebarText:last-child {
  margin-bottom: 0;
}
.sideBar li {
  padding-bottom: 10px;
}
.sideBar li:last-child {
  padding-bottom: 0;
}
.sideBar li::before {
  content: "•";
  color: #4ceea7;
  font-weight: bold;
  display: inline-block;
  margin: 0 15px;
}

.emailMe {
  background-color: #effdf3;
}
.emailMe .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60vh;
}

.emailForm {
  background-color: #fafafa;
  width: 55%;
  padding: 50px 100px;
  -webkit-box-shadow: -40px 40px #fdfa69;
          box-shadow: -40px 40px #fdfa69;
  position: relative;
  top: -30%;
  z-index: 10;
}

address {
  font-style: normal;
}
address p {
  margin: 0;
}
address p:first-child {
  margin: 20px 0;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.address i {
  font-size: 2.6rem;
}

.sidebarNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.sidebarNav ul li {
  margin-right: 20px;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}
.sidebarNav ul li:hover {
  color: #4ceea7;
}

footer {
  background-color: #2c2c2c;
  color: #fafafa;
  padding: 5px 0;
}
footer p {
  margin: 0;
  text-align: center;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input,
textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid #4ceea7;
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  padding: 10px 20px;
  margin-bottom: 50px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
}

textarea {
  border: 2px solid #4ceea7;
  height: 100%;
}

input[type=text],
input[type=email] {
  width: 40%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1990px) {
  .blogTextContainer {
    padding-top: 450px;
  }

  .leftMainContent {
    width: 61%;
  }
}
@media (min-width: 2100px) {
  .blogTextContainer {
    padding-top: 520px;
  }

  .leftMainContent {
    width: 61%;
  }
}
@media (min-width: 2400px) {
  .blogTextContainer {
    padding-top: 600px;
  }

  .leftMainContent {
    width: 62%;
  }
}
@media (max-width: 1780px) {
  .blogTextContainer {
    padding-top: 350px;
  }
}
@media (max-width: 1560px) {
  .blogImgContainer {
    top: -12%;
  }

  .leftMainContent {
    width: 59%;
  }
}
@media (max-width: 1400px) {
  .blogTextContainer {
    padding-top: 280px;
  }

  .blogEntry {
    padding-right: 40px;
  }

  .contactHeader {
    height: 40vh;
  }
  .contactHeader .headerText {
    bottom: 35%;
  }

  .emailMe .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
    padding-top: 50px;
  }

  .emailForm {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 10px solid #4ceea7;
  }

  .address {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 50px;
  }
}
@media (max-width: 1200px) {
  .blogHeader {
    height: 100vh;
  }
  .blogHeader .headerText {
    bottom: 50%;
  }

  .leftMainContent {
    width: 100%;
  }

  .blog {
    border: none;
    padding-left: 0;
  }
  .blog .blogEntry {
    padding-right: none;
  }

  .blogMainContent {
    padding: 50px 0;
  }
  .blogMainContent .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blogImgContainer {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 10px solid #fdfa69;
    position: static;
    width: 90%;
    margin: 0 auto;
  }

  .blogTextContainer {
    padding-top: 20px;
  }

  .sideBar {
    padding: 30px;
    margin-top: 0;
    height: auto;
    width: auto;
    border: 2px solid #2c2c2c;
  }
  .sideBar h5 {
    margin: 20px 0;
  }
  .sideBar::before {
    width: 100%;
    position: static;
    margin-top: 0;
  }
  .sideBar .sidebarText {
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  header .wrapper:nth-child(2) {
    bottom: 5%;
  }

  .headerImg {
    height: 500px;
    width: 50%;
    background-position: bottom;
    border: 30px solid #fdfa69;
    border-right: none;
  }

  .about {
    padding: 200px 0 100px 0;
  }

  .articlePost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articlePost .articlePostItem1,
.articlePost .articlePostItem2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .articlePost .articlePostItem2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .articlePostItem1 .articleImgContainer,
.articlePostItem2 .articleImgContainer {
    position: static;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articlePostItem1 .articleImgContainer img,
.articlePostItem2 .articleImgContainer img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    border-bottom: 10px solid #fdfa69;
  }

  .articleTextContainer {
    width: 50%;
  }

  .info {
    padding: 100px 0;
  }
  .info .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info .infoItem {
    width: 65%;
  }

  .feature .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature .featureImgContainer {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feature .featureImgContainer img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 20px solid #fdfa69;
  }
  .feature .featureTextContainer {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }

  .featureText h3,
.featureText p {
    text-align: center;
  }

  .gallery {
    padding: 50px 0;
  }
}
@media (max-width: 800px) {
  .scrollDown {
    display: block;
  }

  .navBar {
    display: none;
  }

  .mobileNav {
    display: block;
  }

  header .headerText {
    bottom: 5%;
  }

  .headerImg {
    display: none;
  }

  h1 {
    font-size: 15vw;
  }

  .indexHeader {
    height: 100vh;
  }

  p {
    line-height: 3rem;
    text-align: center;
  }

  .about {
    padding: 100px 0;
  }

  .articlePost {
    padding-top: 50px;
  }

  .articlePost .articlePostItem1,
.articlePost .articlePostItem2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articlePost .articlePostItem1 .articleImgContainer img,
.articlePost .articlePostItem2 .articleImgContainer img {
    width: 100%;
  }

  .articlePostItem1 .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .articlePost .articlePostItem2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articlePost .articlePostItem2 div:nth-child(2) > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .articleTextContainer {
    width: 100%;
  }

  .info {
    padding: 50px 0;
  }
  .info .infoItem {
    margin-bottom: 20px;
  }
  .info .infoItem i {
    font-size: 3.5rem;
    width: 75px;
    height: 75px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .info .infoItem .infoItemTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info p {
    padding-left: 0;
  }

  article.infoItem:last-child {
    margin: 0;
  }

  .gallery {
    padding: 50px 0;
  }

  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery ul li {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .gallery ul li:last-child {
    margin-bottom: 0;
  }

  .leftMainContent {
    margin-bottom: 40px;
  }

  .blogMainContent p {
    text-align: left;
  }

  .blogTextContainer h3,
time.postDate:nth-child(2) {
    text-align: center;
    display: block;
  }

  .blogEntry {
    margin-bottom: 40px;
  }

  .comments,
.blogEntry {
    padding: 0;
  }

  fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  input[type=text],
input[type=email] {
    width: inherit;
    border: 2px solid #4ceea7;
    margin-bottom: 40px;
  }

  textarea {
    margin-bottom: 40px;
  }

  .commentForm {
    padding: 0;
  }

  .contactHeader .headerText {
    bottom: 35%;
  }

  .emailForm {
    width: 70%;
    padding: 50px;
  }
}
@media (max-width: 500px) {
  h2, h3, h4 {
    text-align: center;
  }

  h2 {
    font-size: 4.5rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 3rem;
  }

  .articlePostItem1 .articleImgContainer,
.articlePostItem2 .articleImgContainer {
    width: 100%;
  }

  .info .infoItem {
    width: 100%;
  }

  .banner {
    height: 300px;
  }

  .feature .featureImgContainer img {
    border: none;
  }
  .feature .featureTextContainer {
    width: 100%;
  }

  .about,
.feature {
    padding: 50px 0;
  }

  .sideBar {
    min-height: 0;
  }
  .sideBar::before {
    height: 300px;
  }

  .emailForm {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  input[type=text],
input[type=email],
textarea {
    margin-bottom: 20px;
  }
}